<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的第一个WebPage模式下的页面</title>
</head>
<body>
    <div>
        The time is @DateTime.Now
    </div>
    <div>
        <p>使用了Razor的页面的后缀必须为.cshtml，而且Web.config中必须包含指明使用哪个版本的Razor的配置项，即：
            <br />
            &lt;appsettings&gt;<br />
            &nbsp;&nbsp;&lt;add key=&quot;webPages:Version&quot; value=&quot;2.0&quot; /&gt;<br />
            &lt;/appsettings&gt;
        </p>
        
    </div>
</body>
</html>
